.gdbinit
.settings
*.o
mtoc
postprocess
accesstest
test/html
src/docs/doxygen.conf
.gdbinit
test/*.cc
CMakeCache.txt
CMakeFiles
*.sw[op]
!test/*_ref.cc
docs/
!src/docs
build/
build64/
*.*~
*.diff
*.zip
*.tar.gz
published/
website
problems/
Debug/
morepas_web
old_versions
make*.sh
